name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */12 * * *"  # Runs every 12 hours
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Generate Snake Animation
        uses: Platane/snk@v3
        with:
          github_user_name: Vishnumanikandannair
          outputs: |
            dist/github-contribution-grid-snake-dark.svg
            dist/github-contribution-grid-snake.svg

      - name: Create output branch if missing
        run: |
          git fetch
          if [ -z "$(git branch --list output)" ]; then
            git checkout --orphan output
            git reset --hard
            echo "Initializing output branch" > README.md
            git add README.md
            git commit -m "Init output branch"
            git push origin output
          fi

      - name: Push to output branch
        run: |
          git checkout output
          mkdir -p dist
          cp -r dist/* .
          git add .
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git commit -m "Updated snake animation" || echo "No changes"
          git push origin output
